language: python
python:
  - "3.9"

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
  directories:
    - "~/.platformio"
    - $HOME/.cache/pip

install:
  - pip install -U platformio
  - pio update

script:
  - pio run -e Simple_ESP32_Devkit_v1